<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or site.title }}</title>
  <link rel="stylesheet" type="text/css" href="/genstyle.css">
  {% include "partials/analytics.njk" %}
  {%- if extraHead %}
  {{ extraHead | safe }}
  {%- endif %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
{{ content | safe }}
</body>
</html>
