<div class="topnav">
  {%- for item in site.nav %}
    {%- if item.enabled %}
  <a href="{{ item.url }}">{{ item.label }}</a>
    {%- endif %}
  {%- endfor %}
  {%- if aboutUrl %}
  <a class="right" href="{{ aboutUrl }}">{{ aboutLabel or "About this page" }}</a>
  {%- endif %}
</div>
